*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 860px;
    background-image: url(NUOTR/Pazaislio-vienuolynas-A.Aleksandravicius-nuotr..jpg);
    width: 1366px;
    background-repeat: no-repeat;
    background-size: 1366px 860px;
    background-color: #979797;
    font-family: 'Cardo', serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 400;
}

/* navigacija*/

.container {
    display:flex;
}

.flex-container {
    display: flex;
    padding-top: 30px;
}

/* logotipas*/
.logo {
        display:flex;
        justify-content: space-between;
        align-items:center;

}

/* juosta*/
.regist {
    display:flex;
    background-color: #567E7A;
    border: none;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    
}
.regist:hover {background: #c2bfbf;}

.meniu {
    border: none;
    background: none;
    color: #fff;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
    
}
.meniu:hover {background: #c2bfbf;}

.pgr {
    border: none;
    background: none;
    height: 26px;
    color: #fff;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
}
.pgr:hover {background: #c2bfbf;}

.kont {
    border: none;
    background: none;
    color: #fff;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
}
.kont:hover {background: #c2bfbf;}


.main-nav li {
    list-style: none;

}

/*pgr pavad */

.mon {
   
    text-transform: capitalize;
    color: white;
}

.svet {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: white;
}

.monas {
    height: 26px;
    left: 600px;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
}

/* mes*/
.service {
   display:flex;
   flex-direction: row;
    background-color: #D8D8D8;
    font-family: 'Cardo';
    font-style: normal;
    color: #fff;
    list-style: none;
}

h2 {
    text-transform: uppercase;
    margin-left: 80px;

}

p {
    list-style: none;

}

a[href^="tel: +370 655 95 185"] {
    text-decoration: none;
    color: lightcoral;
}

/*apie*/
.apie {

    background-color: #F0EEEA;

}

.baroko {
   
    margin-left: 50px;
    gap: 10px;
    Width: 953px;
Height: 214.67px;
    color: #262626;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 70px;
}

.istorija {

    width: 643px;
    height: 107.34px;
    margin-left: 700px;
    margin-bottom:30px ;
    top: 1607.39px;
    color: #6C6C6C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
}
/*footer*/
.footer{
    display: flex;
    text-align:center;
    Width:1366px;
    bottom: 0;
    justify-content: space-between;
    align-items:center;
}
